<div class="row">
  <div class="container">
    <div class="jumbotron">
      <h2>Login</h2>
      <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
        <div class="form-group">
          <label for="id">ID:</label>
          <input type="text" class="form-control" id="id" name="id" placeholder="ID" ngModel>
        </div>
        <div class="form-group">
          <label for="userID">UserID:</label>
          <input type="text" class="form-control" id="userID" name="userID" placeholder="User Id" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
